<h1>Bep</h1>

<h3>Welcome to bep blogs. </h3>

<h2>MODEL TEST AREA:</h2>

<a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="Close">X</a>
    <h2>Modal Box</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores obcaecati dolore doloremque, error maxime laboriosam expedita aliquam, consequuntur nobis, ea odit reiciendis suscipit eveniet eius nam ducimus autem blanditiis.</p>
    <p>Poo</p>
  </div>
</div>
