<h1>View a post</h1>


<h2><%= @post.title %></h2>
  <p class="created_time"><%= @post.created_at %></p>

<div class="post">
  <p><%= @post.post %></p>
</div>
<%= link_to "Edit Post", edit_post_path(@post.id) %>
<!-- TODO Destroy button for post. -->
